.footer > .action-container {
    width: 40%;
    display: flex;
    margin-left: 20px;

    .vote-actions {
        position: relative;
        bottom: 5px;
        flex: 1;

        .like, .dislike {
            font-size: 22px;
            margin: 0 3px;
        }
    }

    .other-actions {
        flex: 4;

        .share, .comments {
            margin: 0 1vw;
        }   
    }
}
