.sign-in-container {
    position: relative;
    text-align: center;
    width: 40%;
    height: 400px;
    border: 1px solid black;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 18px;

    input {
        margin: 10px 0;
    }

    .submit-form {
        width: 100px;
        margin: auto;
    }
}